* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: linear-gradient(
            130deg,
            #379683 0%,
            #5cdb95 25%,
            #8ee4af 50%,
            #edf5e1 75%,
            #fffcf2 100%
        )
        no-repeat center center fixed;
    font-size: 1.1rem;
    color: #edf5e1;
    font-family: "Quicksand", sans-serif;
    height: 100%;
}
