* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: linear-gradient(
            130deg,
            #69b7eb 0%,
            #a7cbe9 25%,
            #b3dbd3 50%,
            #f4d6db 75%,
            #d8bdd8 100%
        )
        no-repeat center center fixed;
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;
    height: 100%;
}
