.Todo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #064788;
    padding: 1rem 2.5rem;
    font-size: 0.8rem;
}

.Todo i {
    color: #8ee4af;
}

.Todo-edit {
    display: flex;
    width: 100%;
    margin: 10px 0;
    background-color: #064788;
    padding: 1rem 2.5rem;
    font-size: 0.8rem;
}

.Todo-edit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2px;
}

.Todo-edit-input {
    height: 25px;
    width: 70%;
    border: 1px solid #8ee4af;
}

.Todo-btn {
    padding: 0.1rem;
    margin-left: 0.3rem;
    background-color: transparent;
    color: #fffcf2;
    border: none;
}

.completed {
    color: lightgrey;
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 1s ease-out;
}

.Todo-btn-save {
    width: 30%;
    height: 25px;
    font-size: 0.5rem;
    font-weight: 600;
    color: #5cdb95;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #8ee4af;
}
